.navbar{
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 -10px 15px rgb(0 0 0 / 5%);
    bottom: 0;
    z-index: 100;
    border-radius: 25px 25px 0px 0px;
}

.navbar-links-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.navbar-links-list li{
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.navbar-links-list li:hover, .navbar-links-list li:focus, .navbar-links-list li:active{
    cursor: pointer;
    transform: translateY(-2px);
}